<p id="notice"><%= notice %></p>
<div class="intro" style="margin-top: 8%; font-size: 2vw; margin-bottom: 2%;">
<p>About This Website</p>
<p style="font-size: 1.5vw;">关于我, 网站的一切</div>
<div class = "about" style="width: 50%; margin: 0 auto; height: auto; background-color: black; opacity: 0.8; color: white;"><br><br>
<p>INTRO</p>
<p>本来做这个博客和个人网站的目的是为了学习点新知识方便找实习。于是花了20刀大洋吧codeacademy的全栈工程师课程摸鱼摸鱼全弄完了（牺牲了守望先锋的时间），然后用学到的准备做个博客（后端）和个人主页（前端），一前一后岂不美哉：）。前端相对轻松，在12月份下半月lyulyulyu.com就基本全部搭好了，包括小鸟游戏，茶壶hemo和简历，当时有点令不清以为后端也会这么友好。因为codeacadmy最后学的是ruby，加上网上流传的“ruby on rails 15分钟搭建个人博客”视频，我就上了ruby on rails的贼船，从此一去不复返：）。</p>
<p>于是圣诞节前夕开始了这个博客搭建。自然首先打开了那个“15分钟”系列视频，结果光在linux上搭建ruby环境，install bundle就花了15分钟。。。总算可以开始敲代码了，发现这个视频教程是在ruby on rails 3运行的，而到我这里版本已经迭代到了5，3到4有一个大的更新，所以得另寻高人了。于是在半懂不懂的情况下自己凭映像摸索写controller，router和model，最后要吐血了，按照这个进度估计不是15分钟，要变成15个年了，肯定自己路线搞错了，遂到ruby官网查。。。结果发现了脚手架这个功能，之前在codeacademy由于程序比较简单，都是一些小的比如todolist，留言板blablabla所以没有教脚手架。。。从这以后仿佛看到了希望, 于是用脚手架命令1个小时就生成了一个超简陋版本的博客，和15分钟系列有几分神似，但是，凡事都有但是，我虽然知道怎么输入脚手架命令，背后的原理完全不懂。。。就像我会吃饭但是不会做饭一样，而且这个微博实在是太简陋，必须要添加新功能，而添加新功能需要理解原理，所以从头再来过。</p>
<p>好在车到山前必有路，我遇到了“ruby on rails教程”这本书，本来这玩意是没有中文版的，结果居然有雷锋把他翻译了！而且这书是随着ruby更新的，支持ruby on rials 5。打开一看，说的全是人话！于是仿佛久逢甘露，总算是开始步入正轨，开始搭建这个博客系统了。</p>
<p>LOG<p>
<p>v0.0 12/23 圣诞节前两天正式开始搭建博客（悲伤的故事）0功能<p>
<p>v0.5 12/26 ruby on rails看到第6章，利用脚手架完成基础，用户登录注册编辑删除功能完成，user的model，controller和router</p>
<p>v0.6 12/27 ruby on rails看到第8章，可以发博客了，blog的model，contoller和router</p>
<p>v0.7 12/28 ruby on rails看到第10章，用户权限系统, 博客编辑删除功能完成，增加session，id</p>
<p>v0.8 12/29 ruby on rails看到第11章，用户博客数据库各种关联，数据库seed设置，改各种逻辑bug，sql中的belong to关系</p>
<p>v0.9 12/31 规划了下整个网页关系，写了下router跳转逻辑，增加了如个人主页，发现博客等的功能页面，网站框架基本稳定了，改了好多bug<p>
<p>v1.0 1/2 本地版完成，没有美工丑哭，用的bookstrap的排版，ruby on rails看不下去了直接跳到最后一章12章，增加用户安全隔离，浏览器记忆，一堆if else</p>
<p>v1.5 1/4 本地美化版完成，写了很多很多css，jqury太懒没有写，网站美工ui设计完成，能看了，我爱上海</p>
<p>v2.0 1/5 网络版博客完成，被康哥安利了heroku，于是花了很久上传博客app到了heroku云端，设置了地址，把个人网页链接挂上了lyublog，于是博客正式在网络上线了</p>
<p>v2.1 1/6 发现一个大bug，本来发博客要求输入自己用户，要是输错了可能就变成别人的博客了，这个是书本上教了，非常的有问题。于是改了controller，取消了这个设定，花了蛮久的，最后换成了自动匹配用户</p>
<p>v2.5 1/7 出去滑雪去了。。期间一直在上网测试微博，发现一些问题</p> 
<p>v2.6 1/9 做不同浏览器窗口的大小匹配显示，因为博客里面文字很多，所以要是html css没写好，在不同大小分辨率的电脑上就会爆炸，于是把所有字体和div显示都改了</p>
<p>v3.0 1/10 全部完成！ 完善了用户逻辑，解决了小概率排版错误，迁移了heroku的db。暂时没有bug了！写了这个日志。纪念一下</p>
<p>v4.0 1/11 增加搜索引擎 在explore中，可以根据提供作者，或者标题，来查找匹配博客
<p>PS</p>
<p>最后，这个小博客算是长大成人了，感谢ruby的发明者，ruby on rails 确实是一个非常友好快速容易学习的后端方案，尤其感谢这本书的教导，使我在没有网络开发基础的情况下，快速上手。可惜之后找实习的打算全部取消了，商量后决定准备考研，这个博客可能没有它的出场机会了，真的很可惜， 学习写博客的过程非常的愉快。ruby 适合所有人, ruby gives coding fun.</p>
<br>
<br>
<br>
</div>
