<div style="margin: 0 auto; margin-top: 15%; text-align: center; color: white;">
<p style="font-size: 8vw; ">SUCCESS! </p>
<p style="font-size: 4vw; color: yellow;">厉害了我的用户</p>
<p style="font-size: 4vw; color: white;"><%= link_to 'HOME PAGE', root_path %></p>
</div>